@media (max-width: 1168px) {
  .top-products-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 884px) {
  html {
    font-size: 14px !important;
  }

  .left-side {
    flex-wrap: nowrap !important;
  }

  .list {
    position: relative !important;
    width: 100% !important;
    position: fixed !important;
    opacity: 0 !important;
    top: 50% !important;
    left: -50% !important;
    transform: translate(-50%, -50%) !important;
    transition: all 0.2s ease-in-out !important;
  }
  .list.show {
    position: relative !important;
    width: 100% !important;
    position: fixed !important;
    opacity: 1 !important;
    top: % !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .list ul {
    width: 90% !important;
    border-radius: 4px !important;
    padding: 1rem 0rem !important;
    background-color: var(--bold-dark)!important;
    margin: 0 auto !important;
    display: block !important;
    text-align: center;
    box-shadow: var(--box-shadow) !important;
    padding: 2rem 0rem !important;
  }
  .list ul li {
    margin: 0px !important;
    padding: 1.5rem 0rem !important;
  }

  .list ul li a {
    font-size: 1.2rem !important;
    color: var(--white)!important;
  }

  .hamburger {
    display: block !important;
    padding: 0.2rem;
  }

  .nav-wrapper {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    display: flex !important;
    justify-content: space-between !important;
  }

  .logo {
    padding-left: 4rem !important;
  }

  .search:hover > .input input {
    width: 178px !important;
  }

  .slider-wrapper {
    flex-direction: column !important;
    padding: 4rem 0rem !important;
  }
  .slider-content {
    text-align: center !important;
    padding: 2rem 0rem !important;
  }
}

@media (max-width: 692px) {
  .products {
    grid-template-columns: 1fr !important;
    grid-gap: 2rem !important;
    text-align: center!important;
  }

  .products .img img {
    width: 60% !important;
  }

  .glider-prev, .glider-next{
    display: none!important;
  }
}

@media (max-width: 541px) {
  .logo {
    padding-left: 2rem !important;
  }

  .search:hover > .input input {
    width: 128px !important;
  }

  .top-products-wrapper{
      overflow-x: auto!important;
      grid-template-columns: repeat(3, 1fr)!important;
  }
  .products{
    grid-gap: 1rem!important;
  }
}
@media (max-width: 434px) {
  .logo {
    padding-left: 1rem !important;
  }

  .search:hover > .input input {
    width: 88px !important;
  }
}
